#set( $load_date = $vaultConfig.loadDateName() )##
#set($hub_key_col = "${object.name}${object.keySuffix}")##
##
merge into ${dwhConfig.schemaNameServed()}.${object.namePrefix}${object.name} hub
     using (select distinct
                   stg.${hub_key_col}#if($role)_${role}#end
                 , stg.${vaultConfig.loadIdName()}
                 , stg.${load_date}
          #foreach($col in ${object.columnsSorted})
                 , stg.${object.namePrefix}${object.name}_${col.name}#if($role)_${role}#end
          #end
              from ${dwhConfig.schemaNameCooked()}.${mapping.name} stg
           ) ckd
        on (1 = 1
        #foreach($col in ${object.columnsSorted})
        and ckd.${object.namePrefix}${object.name}_${col.name}#if($role)_${role}#end = hub.${col.name}
        #end)
  when not matched then
    insert (${hub_key_col}
          , ${vaultConfig.loadIdName()}
          #foreach($col in $object.columnsSorted)
          , ${col.name}
          #end
          )
    values (ckd.${hub_key_col}#if($role)_${role}#end
          , ckd.${vaultConfig.loadIdName()}
          #foreach($col in $object.columnsSorted)
          , ckd.${object.namePrefix}${object.name}_${col.name}#if($role)_${role}#end
          #end
          )
;
