#set( $key_column       = "${object.name}${object.keySuffix}" )##
#set( $core_schema      = ${dwhConfig.schemaNameViews()} )##
#set( $load_date        = ${vaultConfig.loadDateName()} )##
#set( $load_date_end    = ${vaultConfig.loadDateEndName()} )##
#set( $last_seen        = ${vaultConfig.lastSeenDateName()} )##
#set( $load_id          = ${vaultConfig.loadIdName()} )##
#set( $view_prefix      = "${vaultConfig.viewPrefix()}${vaultConfig.viewLatestPrefix()}" )##
#set( $hub_name         = "${object.namePrefix}${object.name}")##
##
create or replace view ${core_schema}.${view_prefix}${hub_name} as
select
      hub.${key_column} ${hub_name}_${key_column}
    , hub.${last_seen} ${hub_name}_${last_seen}
    , hub.${load_id} ${hub_name}_${load_id}
#foreach($col in $object.columnsSorted)
    , hub.${col.name} ${hub_name}_${col.name}
#end
#foreach($sat in $satellites)
#set($sat_name = "${sat.namePrefix}${sat.name}")##
#set($sat_alias = "sat_${foreach.count}")##
    , $sat_alias.${load_id} ${sat_name}_${load_id}
#foreach($col in $sat.columnsSorted)
    , $sat_alias.${col.name} ${sat_name}_${col.name}
#end
#end
from ${core_schema}.${object.namePrefix}${object.name} hub
#foreach($sat in $satellites)
left join ${core_schema}.${sat.namePrefix}${sat.name} sat_${foreach.count}
    on sat_${foreach.count}.${key_column} = hub.${key_column}
    and current_timestamp() between sat_${foreach.count}.${load_date} and sat_${foreach.count}.${load_date_end}
#end
;