replace INTO `DataDomain` (`name`, `defaultValue`, `sqlType`) VALUES ('chef_datetime','0001-01-01 00:00:00.0','timestamp');
replace INTO `DataDomain` (`name`, `defaultValue`, `sqlType`) VALUES ('chef_hash','NA','varchar(32)');
replace INTO `DataDomain` (`name`, `defaultValue`, `sqlType`) VALUES ('chef_int',NULL,'number');
replace INTO `DataDomain` (`name`, `defaultValue`, `sqlType`) VALUES ('chef_id','-1','number');
replace INTO `DataDomain` (`name`, `defaultValue`, `sqlType`) VALUES ('code','NA','varchar(10)');
replace INTO `DataDomain` (`name`, `defaultValue`, `sqlType`) VALUES ('code_long','NA','varchar(10)');
replace INTO `DataDomain` (`name`, `defaultValue`, `sqlType`) VALUES ('date','0001-01-01','date');
replace INTO `DataDomain` (`name`, `defaultValue`, `sqlType`) VALUES ('datetime','0001-01-01 00:00:00.0','timestamp');
replace INTO `DataDomain` (`name`, `defaultValue`, `sqlType`) VALUES ('desc','NA','varchar(255)');
replace INTO `DataDomain` (`name`, `defaultValue`, `sqlType`) VALUES ('flag','FALSE','boolean');
replace INTO `DataDomain` (`name`, `defaultValue`, `sqlType`) VALUES ('float','-1','float');
replace INTO `DataDomain` (`name`, `defaultValue`, `sqlType`) VALUES ('hash','NA','varchar(32)');
replace INTO `DataDomain` (`name`, `defaultValue`, `sqlType`) VALUES ('id','-1','number');
replace INTO `DataDomain` (`name`, `defaultValue`, `sqlType`) VALUES ('int16','-1','number(16)');
replace INTO `DataDomain` (`name`, `defaultValue`, `sqlType`) VALUES ('int32','-1','number(32)');
replace INTO `DataDomain` (`name`, `defaultValue`, `sqlType`) VALUES ('money','-1','number(20,2)');
replace INTO `DataDomain` (`name`, `defaultValue`, `sqlType`) VALUES ('name','NA','varchar(100)');
replace INTO `DataDomain` (`name`, `defaultValue`, `sqlType`) VALUES ('percent','-1','number(6,2))');
replace INTO `DataDomain` (`name`, `defaultValue`, `sqlType`) VALUES ('quantity','-1','number(10)');
replace INTO `DataDomain` (`name`, `defaultValue`, `sqlType`) VALUES ('text_long','NA','varchar(4000)');
replace INTO `DataDomain` (`name`, `defaultValue`, `sqlType`) VALUES ('text_small','NA','varchar(2000)');
replace INTO `DataDomain` (`name`, `defaultValue`, `sqlType`) VALUES ('uuid','NA','varchar(36)');
replace INTO `DataDomain` (`name`, `defaultValue`, `sqlType`) VALUES ('year','-1','number');

replace into DataDomain(name,sqlType,defaultValue) values ('boolean_no_default','boolean','');
replace into DataDomain(name,sqlType,defaultValue) values ('char_flag_default_tilde','varchar(1)','~');
replace into DataDomain(name,sqlType,defaultValue) values ('char_flag_no_default','varchar(1)','');
replace into DataDomain(name,sqlType,defaultValue) values ('date_default_01010001','date','0001.01.01');
replace into DataDomain(name,sqlType,defaultValue) values ('date_no_default','date','');
replace into DataDomain(name,sqlType,defaultValue) values ('decimal_amount_default_minus_max','number(18,2)','-9999999999999999');
replace into DataDomain(name,sqlType,defaultValue) values ('decimal_amount_no_default','number(18,2)','');
replace into DataDomain(name,sqlType,defaultValue) values ('decimal_flag_default_minus_max','number(1)','-9');
replace into DataDomain(name,sqlType,defaultValue) values ('decimal_flag_no_default','number(1)','');
replace into DataDomain(name,sqlType,defaultValue) values ('decimal_integer_default_minus_min','number(32)','-1');
replace into DataDomain(name,sqlType,defaultValue) values ('decimal_integer_no_default','number(32)','');
replace into DataDomain(name,sqlType,defaultValue) values ('decimal_measure_default_minus_max','number(25,9)','-99999999');
replace into DataDomain(name,sqlType,defaultValue) values ('decimal_measure_no_default','number(25,9)','');
replace into DataDomain(name,sqlType,defaultValue) values ('decimal_quantity_default_minus_max','number(8)','-99999999');
replace into DataDomain(name,sqlType,defaultValue) values ('decimal_quantity_no_default','number(8)','');
replace into DataDomain(name,sqlType,defaultValue) values ('timestamp_default_01012001_000001','timestamp', '2001.01.01 00:00:01');
replace into DataDomain(name,sqlType,defaultValue) values ('timestamp_no_default','timestamp','');
replace into DataDomain(name,sqlType,defaultValue) values ('varchar_date_default_0001_01_01','varchar(10)','0001-01-01');
replace into DataDomain(name,sqlType,defaultValue) values ('varchar_huge_default_tilde','varchar(8000)','~');
replace into DataDomain(name,sqlType,defaultValue) values ('varchar_huge_no_default','varchar(8000)','');
replace into DataDomain(name,sqlType,defaultValue) values ('varchar_long_default_tilde','varchar(255)','~');
replace into DataDomain(name,sqlType,defaultValue) values ('varchar_long_no_default','varchar(255)','');
replace into DataDomain(name,sqlType,defaultValue) values ('varchar_max_no_default','varchar(2000000)','');
replace into DataDomain(name,sqlType,defaultValue) values ('varchar_normal_default_tilde','varchar(150)','~');
replace into DataDomain(name,sqlType,defaultValue) values ('varchar_normal_no_default','varchar(150)','');
replace into DataDomain(name,sqlType,defaultValue) values ('varchar_short_default_tilde','varchar(50)','~');
replace into DataDomain(name,sqlType,defaultValue) values ('varchar_short_no_default','varchar(50)','');
replace into DataDomain(name,sqlType,defaultValue) values ('varchar_very_huge_default_tilde','varchar(100000)','~');
replace into DataDomain(name,sqlType,defaultValue) values ('varchar_very_long_default_tilde','varchar(2000)','~');
replace into DataDomain(name,sqlType,defaultValue) values ('varchar_very_long_no_default','varchar(2000)','');

replace INTO `CsvType` (`name`, `columnDelimiter`, `columnSeparator`, `encoding`, `rejectLimit`, `rowSeparator`, `skip`) VALUES ('default_csv','\"',',','UTF-8',50,'\\n',1);
replace INTO `CsvType` (`name`, `columnDelimiter`, `columnSeparator`, `encoding`, `rejectLimit`, `rowSeparator`, `skip`) VALUES ('german_csv','\"',';','UTF-8',50,'\\n',1);

replace INTO `User` (`username`, `passwordHash`, `role`) VALUE ('admin', '21232f297a57a5a743894a0e4a801fc3', 'ADMIN');
